# Lab 6

In [ ]:
import pandas as pd
train = pd.read_csv('/content/bank_UCI.csv', sep=';')
train.head()

   age          job  marital  education  ... pdays  previous poutcome   y
0   30   unemployed  married    primary  ...    -1         0  unknown  no
1   33     services  married  secondary  ...   339         4  failure  no
2   35   management   single   tertiary  ...   330         1  failure  no
3   30   management  married   tertiary  ...    -1         0  unknown  no
4   59  blue-collar  married  secondary  ...    -1         0  unknown  no

[5 rows x 17 columns]

In [ ]:
df = train.drop(['y'],axis=1)
cat_cols = [c for c in df.columns if df[c].dtypes=="object"]
num_cols = [c for c in df.columns if df[c].dtypes!="object"]
z = pd.get_dummies(train[cat_cols])

In [ ]:
X = pd.concat([z,train[num_cols]],axis=1)
y = train['y'].map({'no':0, 'yes':1})

In [ ]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=0)

In [ ]:
from sklearn.tree import DecisionTreeClassifier
dt = DecisionTreeClassifier(criterion='gini',max_depth=3)
dt.fit(X_train, y_train)

DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None, criterion='gini',
                       max_depth=3, max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort='deprecated',
                       random_state=None, splitter='best')

In [ ]:
from sklearn.metrics import accuracy_score
accuracy_score(dt.predict(X_test),y_test)

0.8909358879882093